@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  /* --- text --- */
  .text-main {
    @apply text-m-main dark:text-m-dark-main;
  }
  .text-accent {
    @apply text-m-accent dark:text-m-dark-accent;
  }
  .text-accent2 {
    @apply text-m-accent2 dark:text-m-dark-accent2;
  }
  .text-hover {
    @apply hover:text-m-hover dark:hover:text-m-dark-hover;
  }
  .text-accent.text-hover {
    @apply hover:text-m-accent-hover dark:hover:text-m-dark-accent-hover;
  }
  .text-secondary {
    @apply text-m-secondary dark:text-m-dark-secondary;
  }

  /* --- background --- */
  .bg-background {
    @apply bg-m-background dark:bg-m-dark-background;
  }
  .bg-foreground {
    @apply bg-m-foreground dark:bg-m-dark-foreground;
  }
  .bg-accent {
    @apply bg-m-accent dark:bg-m-dark-accent;
  }
  .bg-accent2 {
    @apply bg-m-accent2 dark:bg-m-dark-accent2;
  }

  .border-main {
    @apply border-m-main dark:border-m-dark-main;
  }

  /* --- effects ---  */
  .glow-normal {
    filter: drop-shadow(4px 6px 20px theme(colors.m-accent/60%));
  }
  .glow-dark {
    filter: drop-shadow(4px 6px 20px theme(colors.m-dark-accent/60%));
  }
  .glow {
    @apply glow-normal dark:glow-dark;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}


